@font-face {
    font-family: "HelveticaNeueLT";
    src: url("https://www.baddawi.com/FDZ/fonts/HelveticaNeue-Rg.woff2") format("woff2"),
         url("https://www.baddawi.com/FDZ/fonts/HelveticaNeue-Rg.woff") format("woff"),
         url("https://www.baddawi.com/FDZ/fonts/HelveticaNeue-Rg.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueLT";
    src: url("https://www.baddawi.com/FDZ/fonts/HelveticaNeue-Bd.woff2") format("woff2"),
         url("https://www.baddawi.com/FDZ/fonts/HelveticaNeue-Bd.woff") format("woff"),
         url("https://www.baddawi.com/FDZ/fonts/HelveticaNeue-Bd.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
